.panda-card-item{
    border: 0;
}

.panda-card-footer{
    border: 0;
    background-color: white;
}

.categories img{
    width: 100px;
}

.panda-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 1em;
}